.body {
    font-family: 'Oswald', Verdana, Arial, sans-serif; 
}

ul {
    font-family: 'Oswald', Verdana, Arial, sans-serif;
}

ul li a {
    color: #453674;
    text-decoration:none;
}

ul li a:hover {
    background-color:#D6A800;
    color: #4F3674;
}

a:visited {
    color: #3C275A;
}

#container {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

h1, h2, h3, h4{
    background-color: #3C275A;
    color: white;
    border: 1px solid #D6A800;
    padding:10px;
}

h1 {
    text-align: center;

}

#icon-mode:hover {
    cursor: pointer;
}

#icon-text {
    padding: 10px;
}

assign-container {
    padding: 10px;

}

assign-content {
    width: 600px;
    margin: 3% auto 0

}
assign-results-text {
    text-align: center;
    font-size: 28px;
}



