body.light.theme {
    --text-color: #000;
    --background-color: #fff;
    --anchor-color: #4F3674;
    --h1-background-color: #3c275a;
    --h1-border-color: #D6A800;
    --heading-background-color: #3c275a;
    --heading-color: #fff;
    --heading-border-color: #D6A800;
    --anchor-hover-color: #4F3674;
    --anchor-hover-background-color: #D6a800;
    --card-background-color: #fff;
    --card-title-color: #4F3674;
    --btn-background-color: #4F3674;
    --btn-color: #fff;
    --btn-hover-background-color: #D6A800;
    --bth-hover-color: #4F3674;
    --input-border-color: #ccc;
    --table-header-background-color: #4F3674;
    --table-header-color: #fff;
    --table-border-color: #ddd;
    --table-hover-background-color: #D6A800;
    --table-hover-color: #4F3674;
}

body.dark.theme {
    --text-color: #fafafa;
    --background-color: #303030;
    --anchor-color: #fff;
    --h1-background-color: #9c27b0;
    --h1-border-color: #9c27b0;
    --heading-background-color: #424242;
    --heading-color: #fff;
    --heading-border-color: #424242;
    --anchor-hover-color: #D176e1;
    --anchor-hover-background-color: #303030;
    --card-background-color: #424242;
    --card-title-color: #D176e1;
    --btn-background-color: #D176e1;
    --btn-color: #fff;
    --btn-hover-background-color: #7d4787;
    --btn-hover-color: #fff;
    --input-border-color: #303030;
    --table-header-background-color: #D176E1;
    --table-header-color: #fff;
    --table-border-color: #303030;
    --table-hover-background-color: #7D4787;
    --table-hover-color: #fff;
}

